# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*                   @GoogleCloudPlatform/anthos-dpe @yoshi-approver

# Directory-specific owners
/windows-multi-arch/ @ibabou @liurupeng @mcshooter @pjh @yoshi-approver
/gke-stateful-postgres/ @aburhan @pwschuurman @yoshi-approver
/gke-stateful-kafka/ @aburhan @pwschuurman @yoshi-approver
/gke-vpa-recommendations/ @aburhan @yoshi-approver
/whereami/ @theemadnes @yoshi-approver
/ai-ml/ @rbarberop @alizaidis @yoshi-approver
/batch/ @rbarberop @alizaidis @yoshi-approver
/databases/hello-app-cloud-spanner @thiagotnunes @yoshi-approver
