# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: embed-docs
  labels: &labels
    app: elastic-docs-embedder
spec:
  selector:
    matchLabels: *labels
  template:
    metadata: 
      labels: *labels
    spec:
      serviceAccountName: embed-docs-sa
      containers:
      - name: embed-docs
        image: <DOCKER_REPO>/embed-docs:1.0
        imagePullPolicy: Always
        command: ["python", "/app/endpoint.py"]
        env:
        - name: ES_URL
          value: https://elasticsearch-ha-es-http:9200
        - name: JOB_IMAGE
          value: <DOCKER_REPO>/embed-docs:1.0
        - name: JOB_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - containerPort: 5001
        resources:
          requests:
            cpu: 200m
---
apiVersion: v1
kind: Service
metadata:
  name: embed-docs
  labels: &labels
    app: elastic-docs-embedder
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 5001
  selector: *labels
